@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans", "Noto Sans TC";
}

h1 {
	color:#000000;
	font-family: inherit;
	font-size:72px;
	text-transform: none;
	line-height: 6rem;
}

.fp:first-letter {font-size : 200%;
				  font-weight : bold;
				  float : left;
				  margin-right: 3px;
}


a{color:#FF8888}
a:hover{color:#FF0088}

.text-primary {color:#FFC8B4!important}

.english-name {font-size:54px;
              margin-top:3rem;
			  color:	#E6E6FA;
			  }

.subheading {
	font-family: inherit;
	text-transform: none;
	margin-top: 1rem;
}

.address-border { border:3px solid #FFC8B4;
                  padding:5px;}

.bg-primary{
	background-color:#FFC8B4!important}

.list-social-icons  a{color:#495057}
.list-social-icons #facebook a:hover{color:#0000FF}
.list-social-icons #twitter a:hover{color:#33CCFF}
.list-social-icons #instagram a:hover{color:#FF0088}
.list-social-icons #youtube a:hover{color:#FF0000}
.list-social-icons a .fa-lg{font-size:1.75rem}.list-icons{font-size:3rem}

.navbar-font {
	font-size:18px;
}

.align{ text-align:justify;}
.nav-bar-change a:hover{font-size:20px;}

h2{font-size:50px;
   font-family:inherit;}
h3{font-family:inherit;} 

.title{color:#000000;}

.timeline{
	position: relative;
	margin: 0 auto;
}

.timeline::after{
	content: '';
	position: absolute;
	width:6px;
	background-color: #FFC8B4;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.timeline-block {
	padding: 10px 40px;
	position:relative;
	background-color: inherit;
	width: 50%;
}

/* The circles on the timeline*/
.timeline-block::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -12px;
	background-color: white;
	border: 4px solid #FFC8B4;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

/* Place the container to the left */
.timeline-left {
	left: 0;
}

/* Place the container to the right */
.timeline-right {
	left: 50%;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
	left: -12px;
}

/* Media queries - Responsive timeline on screens less than 992px wide */
@media screen and (max-width: 992px) {
/* Place the timeline to the left */
	.timeline::after {
		left: 31px;
	}
	
 /* Full-width containers */
 .timeline-block {
	 width: 100%;
	 padding-left: 70px;
	 padding-right: 25px;
}

/* Make all right containers behave like the left ones */
.timeline-right {
	left: 0%;
}

/* Make sure all circles are at the same spot */
.timeline-left::after, .timeline-right::after {
	left: 17px;
 }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.relative {
    position: relative;
    right: 20px;
}
